
/* main css */
body {
	background-image: linear-gradient(135deg, #43379e 7%, #4d5d9f 95%);
	color: #D4D4D4;
	font-family: "helvetica", sans-serif;
}




input[type=checkbox] {
  visibility: hidden;
  height: 0;
  width: 0;
  
}

label {
  margin: 0 auto;
  display: flex;
  float: right;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background-color: #373737; 
}
 
label:after {
  border-radius: 50%;
  position: absolute;
  content: '';
  background: #D4D4D4;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 4px;
  transition: ease-in-out 200ms;
}
 
input:checked + label {
  background: #4d5d9f;
}
 
input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
 
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: ease-in-out 200ms !important;
  transition-delay: 0 !important;
}

.logo {
	font-weight: bold;
	font-size: 24px;
	float: left;
}

#switch {
	float: right;
}

nav ul {
  	list-style-type: none;
  	width: 400px;
  	margin:  auto;
  	padding: 0;
  	text-align: center;
  	overflow: hidden;
}

nav li  {
  	display: block;
  	color: #D4D4D4;
  	width: 40px;
  	padding: 14px 16px;
  	text-align: center;
  	text-decoration: none;
}

nav li {
	float: left;
	text-align: center;
}

#mail {
	max-width: 18px;
}

#foot {
	padding: 20px;
	text-align: center;
}

a {
	color: #D4D4D4;

	text-decoration: none;
}

a:hover {
	color: #A3A3A3;
}

p {
	color: #A8A8A8;
	padding: 2px;
}

h3 {
	padding: 2px;
}

h1 {
	padding: 2px;
}


header .current a{
	border-bottom: 2px solid;
}


/* Hide the images by default */
.mySlides {
  	display: none;
}

/* Fading animation */
.fade {
  	-webkit-animation-name: fade;
  	-webkit-animation-duration: 2s;
  	animation-name: fade;
  	animation-duration: 2s;
}

@-webkit-keyframes fade {
  	from {opacity: .4} 
  	to {opacity: 1}
}

@keyframes fade {
  	from {opacity: .4} 
  	to {opacity: 1}
}

#post1 {
	background-color: #202020;
	background-size: 100%;
	text-align: center;
}

#post2 {
	text-align: center;
}

#news1 {
	background-color: #202020;
	background-size: 100%;
}

#news2 {
	background-size: 100%;
}

#footerP {
	padding-top: 20px;
}

#player .EmbeddedPlayer {
	background-color: #202020;
	float: left;
	text-align: center;
	width: 100%;
	padding: 10px;
  	overflow: hidden;

}

#youtube, #youtube_video {
	width: 350px;
	height: 260px;
	text-align: center;
}

.clear {
	clear: both;
}

#volume123 {
	display: block;
	text-align: center;
	width: 100%;
	float: left;
	background-color: #202020;

}
#volume {
	width: 30%;
	overflow: hidden;
	padding-top: -80px;
}

.gray-mode {
	background-image: none;
	background-color: #DEDEDE;
	nav li color: #0F0F0F;
}

.gray-mode nav li  {
	color: #0F0F0F;
}
/*
@media only screen and (min-width: 768px) {


	#generalP {
		padding-left: 40px;
		padding-right: 40px;
	}

	#noindent {
		text-indent: 0px;
		padding-right: 20px;
	}

	* {box-sizing:border-box}

	h1 {
		text-indent: 40px;

	}
	h2 {
		text-align: center;
	}

	h3 {
		text-indent: 40px;
		padding-top: 20px;
	}

	.stream {
		float: left;
		text-align: center;
		width: 16.66%;
		padding: 10px;
		overflow: hidden;
		background-color: #0E0E0E;
		padding-bottom: 20px;
	}

	.stream3 {
		float: left;
		text-align: center;
		width: 16.66%;
		padding: 10px;
		overflow: hidden;
		background-color: #202020;
		padding-bottom: 20px;
	}

	.stream2 {
		float: left;
		text-align: center;
		width: 20%;
		padding: 10px;
		overflow: hidden;
		background-color: #0E0E0E;
		padding-bottom: 20px;
	}

	#aboutindent {
		list-style-position: inside;
		color: #8A8A8A;
	}

	#youtube, #youtube_video {
		width: 540px;
		height: 360px;
	}
}

 /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#about {
	float: left;
	padding-left: 40px;
	padding-right: 20px;
	}

	#youtube, #youtube_video {
	width: 720px;
	height: 480px;
	}
} 

@media only screen and (min-width: 1200px) {
	#player .EmbeddedPlayer{
	padding: 0px;
	width: 33.33%; /* allow for three boxes side by side */
	}

	#youtube, #youtube_video  {
	width: 1080px;
	height: 720px;
	}
}