body {
	background:#EDEDED;
	color:#fff;
	font-family:'Arial', sans-serif;
	font-size:14px;
}

#container {
	width:60%;
	background:#EDEDED;
	margin:20px auto;
	overflow: auto;
	padding:25px;
}

#initial {
	width:60%;
	background:#EDEDED;
	margin:20px auto;
	overflow: auto;
	padding:25px;
}

header{
	text-align:center;
	border-bottom:#fff dashed 1px;
}

header h1{
	margin:0;
	padding:0;
}

#results {
	color: red;
	font-weight: bold;
}

#results2, #perfectScore {
	color: red;
	background-color: yellow;
	display: inline;
}

.hintdivstyle, #welcomeResult {
	font-weight: bold;
	color: #a0d7e8;
}

#q1hint {
    width: 450px;
    height: 30px;
    background: #EDEDED;
	font-weight: bold;
	color: #a0d7e8;
    display: none;
}

#q2hint {
    width: 450px;
    height: 30px;
    background: #EDEDED;
	font-weight: bold;
	color: #a0d7e8;
    display: none;
}

#q3hint {
    width: 450px;
    height: 30px;
    background: #EDEDED;
	font-weight: bold;
	color: #a0d7e8;
    display: none;
}

#q4hint {
    width: 450px;
    height: 30px;
    background: #EDEDED;
	font-weight: bold;
	color: #a0d7e8;
    display: none;
}

#q5hint {
    width: 450px;
    height: 30px;
    background: #EDEDED;
	font-weight: bold;
	color: #a0d7e8;
    display: none;
}

.welcomeclass {
    font-weight: bold;
	color: #a0d7e8;
}

#alert {
	color: red;
}